
.gem {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    display: inline-block;
}

.gem.gem-red {
    background-color: red;
}

.gem.gem-green {
    background-color: green;
}

.gem.gem-yellow {
    background-color: orange;
}

.gem.gem-blue {
    background-color: blue;
}

.gem.gem-violet {
    background-color: violet;
}

@-webkit-keyframes gem-destroying {
    from { width: 30px; height: 30px; margin: 0; }
    to { width: 0; height: 0; margin: 15px; }
}

@keyframes gem-destroying {
    from { width: 30px; height: 30px; margin: 0; }
    to { width: 0; height: 0; margin: 15px; }
}

.gem.gem-destroying {
    -webkit-animation: gem-destroying 0.2s;
    -o-animation: gem-destroying 0.2s;
    animation: gem-destroying 0.2s;
}

.gem.gem-destroyed {
    background-color: white;
}

.game-field {
    height: 302px;
    width: 302px;
    border-style: solid;
}

.game-over .game-field {
    opacity: 0.2;
}

.selected {
    border: 2px solid black;
    width: 26px;
    height: 26px;
}

.game-over-text {
    display: none;
}

.game-over .game-over-text {
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: 99px;
    width: 310px;
    padding: 40px 0;
    font-weight: bold;
    z-index: 1000;
    display: block;
}

.timer-danger {
    animation: blinker 1s linear infinite;
    color: red;
    font-weight: bold;
}

@keyframes blinker {
    50% { opacity: 0.0; }
}